<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DvdStore home</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<h1>DvdStore home</h1>
<h2>Actions disponibles : </h2>
<ul>
    <li><a href="../add-movie-form">Add movie</a></li>
</ul>

<section class="container">
    <div class="left-half">
        <article id="movie-list">
           <!-- <tr th:each="movie: ${movies}">
                <td th:text="${movie.id}"></td>
                <td><a th:href="@{/movie/{id}(id=${movie.id})}" th:text="${movie.title}"/></td>
                <td th:text="${movie.genre}"></td>
            </tr>-->
        </article>
    </div>
    <div class="right-half">
        <article id="movie-detail">

        </article>
    </div>
</section>


<script th:src="@{/js/script.js}"></script>

</body>
</html>